header{
text-align: left;
background-color: black;
vertical-align: bottom;
height:auto;
color: grey;
font-size: 20px;
}

#navbarDropdown:hover{
    color: green;
}

#navbarDropdown{
    color: black;
}

#nav-item:hover{
    color: green;

}

#nav-item{
    color: black;
}

body{
    background : white;
}

.navbar-brand{
    font-weight:100;
    font-size:2rem;
}
