


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main-image{
  margin: 20px;
  }
  
  body {
    background-color: #fffdd0;
  
  }
  .inner-banner {
    position: relative;
    background: #a0a19b;
    background-size: cover;
  }
  .inner-banner:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 280px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 0;
  }
  
  .inner-banner h1 {
    margin: 0;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
    padding-top: 110px;
  }
  
  
  
  .inner-banner .box {
    position: relative;
    display: table;
    height: 280px;
    width: 100%;
    text-align: center;
  }
  @media(max-width:900px){
    .inner-banner h1{
      font-size: 23px;
      padding-top: 40px;
    }
    .inner-banner {
      height: 140px;
    }
   .inner-banner.box{
    height:140px;
  }
    .inner-banner:before{
      height:140px;
    }
  }
  
  .breadcumb-wrapper {
    background-color: #fffdd0;
    padding: 19px 0;
    border-bottom: 1px solid #f4f4f4;
  }
  .breadcumb-wrapper ul,
  .breadcumb-wrapper li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color:rgba(210,105,30,0.8);;
  }
  .breadcumb-wrapper ul.link-list li a {
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    transition: .3s ease;
  }
  .breadcumb-wrapper ul.link-list li a:hover {
    transition: .3s ease;
  }
  
  .breadcumb-wrapper ul.link-list li a i {
    color: #fac012;
    margin-right: 7px;
  }
  
  .breadcumb-wrapper ul.link-list li a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    margin: 0 10px;
  }
  .breadcumb-wrapper a.get-qoute {
    text-transform: uppercase;
    font-weight: 700;
    color: #8dc63f;
    font-size: 14px;
  }
  .breadcumb-wrapper a.get-qoute i {
    margin-left: 7px;
    color: #8dc63f;
    margin-right: 7px;
    font-size: 14px;
  }
  
  .ourstory h3{
    text-align: center;
    color:rgba(210,105,30,0.8);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
  }
  
  .ourstory p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.55rem;
  }

  .mission{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.40rem;
  }

  .ourstory .objectives{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.20rem;
  }
  
  @media(max-width:1470px){
    .ourstory h3{
      font-size:2rem;
    }
    .ourstory p{
      font-size:1.40rem;
    }
    .ourstory .objectives{
      font-size:1.10rem;
    }
  }
  
  @media(max-width:1300px){
    .ourstory h3{
      font-size:1.5rem;
    }
    .ourstory p{
      font-size:1.05rem;
    }
    .mission{
        font-size:1.05rem ;    
    }
    .ourstory .objectives{
      font-size:0.85rem;
    }
  }
  
  @media(max-width:990px){
    .ourstory p{
      font-size:1.5rem;
    }
    .row{
        border-bottom: 1px solid rgba(210,105,30,0.8);
    }
    .ourstory h3{
      font-size:1.80rem;
    }
    .mission{
        font-size:1.5rem
    }
    .ourstory .objectives{
      font-size:1.25rem;
    }
  }

  @media(max-width:570px){
    .ourstory p{
      font-size:1rem;
    }
    .ourstory h3{
      font-size:1.30rem;
    }
    .mission{
        font-size: 1rem;
    }
    .ourstory .objectives{
      font-size:0.95rem;
    }
  }
  

  
